:root {
	/*Esquema de cores do site*/
	--accent-strong: #f4f410;
	--accent-intermediate: #e0d83e;
	--accent-light: #a19c14;
	--accent-black: #1F1F1F; /*Cor do fundo do site*/
	--font-color: #FFFFFF; /*Cor da fonte*/
	--border-color: #FFFFFF;
}

/*Regras gerais de conteúdo para o corpo de todas as páginas*/
body, html {
	margin: 0;
	padding: 0;
	background-color: var(--accent-black);

	scroll-snap-type: y proximity;
	scroll-behavior: smooth;
}

* {
	color: var(--font-color);
}

svg {
	width: 100% !important;
	height: auto !important;
}


.justified-text {
	text-align: justify;
}

input[type="text"] {
	background-color: transparent;
	border: 2px solid var(--border-color);
	outline: none;
	padding: 10px;
	margin: 5px 0;
	border-radius: 8px;
}

button {
	background-color: transparent;
	border: 2px solid var(--border-color);
	outline: none;
	padding: 10px 0;
	margin: 5px 0;
	border-radius: 8px;
}
